body{
    background-color:rgb(253, 167, 8);
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(4, 4, 241);
    font-size: 47px;
}


#republic{
    max-width: 270px;
    height: 80px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: orange;
    align-items: center;
    border-radius: 10px;
}

h2{
   font-weight: bold;
   font-size: 47px; 
   color: rgb(9, 156, 9);
   font-style: italic;
}

img{
    
    object-fit:fill;
}

h3{
    color: rgb(56, 15, 240);
    font-weight: bold;
    font-size: 45px;
    font-style: italic;
}
table, th, td {
    border: 1px solid rgb(39, 17, 231);
    border-collapse: collapse;
    width: 500px;
    height: 50px;
    font-weight: bolder;


  }
  th, td {
    background-color: #ffffff;
  }
  #table{
    max-width: 270px;
    height: 80px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: rgb(204, 169, 104);
    border-radius: 10px;
    text-align: center;
  }
  #wrap{
    width:100vw;
    display:flex;
    justify-content:center;

    
  }
  td{
      color: rgb(18, 189, 12);
  }
  h4{
     font-style: italic;
     font-size: larger;

  }
  
  